
Flask==2.3.3
gunicorn==21.2.0  


--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
transformers==4.38.2
accelerate==0.31.0
tokenizers==0.15.2


bitsandbytes==0.43.0  
flash-attn==2.5.8 

numpy==1.26.4
Jinja2==3.1.2
Werkzeug==2.3.7
